<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100%;">
  <div class="row">
    <div class="col-12 p-3 px-4 bg-light rounded shadow text-center border">
      <!-- CODIGO MODULO 280 -->
      <img class="rounded-5 imgLogin" src="img/logoMunicipalidadFsa.png" width="90px">
      <h5 class="fw-bold fs-med text-center" style="font-family: 'Montserrat', sans-serif;">Importaciones Mercado Pago</h5>

      <form>
        <!-- [(ngModel)]="loginObj.username" -->
        <div class="form-floating mt-4">
          <input
            name="username"
            type="text"
            class="form-control fs-min border-0 border-bottom border-2 shadow-sm fw-bold"
            id="username"
            [(ngModel)]="loginObj.username"

          />
          <label for="username">Username</label>
        </div>

        <!-- [(ngModel)]="loginObj.password" -->
        <div class="form-floating mt-4">
          <input
            name="password"
            type="password"
            class="form-control fs-min border-0 border-bottom border-2 shadow-sm fw-bold"
            id="password"
            [(ngModel)]="loginObj.password"
          />
          <label for="password">Contraseña</label>
        </div>

        <button class="btn btn-primary fw-bold shadow px-5 py-2 mt-4 bg-azul border-0" (click)="onLogin()">Ingresar</button>
        <!-- <button class="btn btn-primary fw-bold shadow px-5 py-2 mt-4 bg-azul border-0">Ingresar</button> -->

      </form>
    </div>
  </div>
</div>

